Repository Dissme/easy-view: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(release): 更新版本至 0.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(node): 修改了组件返回值的语法 现在组件的返回值包裹在闭包里了
  README.md
  src/utils/helpers.js
  src/vm/node.js
Due: prettier --write, eslint --fix

chore(release): 更新版本至 0.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat: 新增 Channel 类，统一通信协议；新增 MicroComponent 组件，提供微前端能力。
  README.md
  build.js
  package.json
  src/common/channel.js
  src/common/constants.js
  src/common/utils.js
  src/dom/eventProxy.js
  src/dom/fragment.js
  src/dom/index.js
  src/index.js
  src/jsx-runtime.js
  src/vm/channel.js
  src/vm/helpers.js
  src/vm/hook.js
  src/vm/index.js
  src/vm/micro.js
  src/vm/node.js
Due: prettier --write, eslint --fix

chore(release): 更新版本至 0.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

refactor(jsx-runtime): 重构了事件流，调整了API。
  README.md
  build.js
  package.json
  src/common/constants.js
  src/common/render.js
  src/dom/eventProxy.js
  src/dom/fragment.js
  src/dom/index.js
  src/index.js
  src/jsx-runtime.js
  src/vm/hook.js
  src/vm/index.js
  src/vm/micro.js
  src/vm/node.js
Due: prettier --write, eslint --fix

chore(release): 更新版本至 0.2.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix: 修复组件会覆盖子节点class的bug，修复重构时遗漏的method引用导致的undefined的bug
  build.js
  src/dom/fragment.js
  src/dom/index.js
  src/vm/hook.js
  src/vm/node.js
Due: prettier --write, eslint --fix

chore(release): 更新版本至 0.2.2
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: 重构了channel提供了methodChannel；删掉了一些用不到的功能；修改了组件API；
  README.md
  build.js
  src/common/channel.js
  src/common/constants.js
  src/common/hook.js
  src/common/render.js
  src/common/stream.js
  src/common/utils.js
  src/dom/eventProxy.js
  src/dom/fragment.js
  src/dom/index.js
  src/vm/diff.js
  src/vm/helpers.js
  src/vm/hook.js
  src/vm/index.js
  src/vm/micro.js
  src/vm/node.js
  src/vm/phase.js
Due: prettier --write, eslint --fix

chore(release): 更新版本至 0.2.3
  CHANGELOG.md
  package.json
Due: prettier --write

fix(dom): 修复一个patch过程中会删除失败的bug
  src/common/hook.js
  src/dom/eventProxy.js
  src/dom/fragment.js
  src/vm/diff.js
  src/vm/micro.js
  src/vm/node.js
Due: prettier --write, eslint --fix

chore(release): 更新版本至 0.2.4
  CHANGELOG.md
  package.json
Due: prettier --write

fix(node): 修复递归触发事件时不解绑的bug，事件触发后默认调用一次update
  src/common/hook.js
  src/vm/node.js
Due: prettier --write, eslint --fix

chore(release): 更新版本至 0.2.5
  CHANGELOG.md
  package.json
Due: prettier --write

refactor: 重构了channel部分，分层更清晰；重构了microComponent，去掉了proxy的逻辑，用shadowdom直接挂载远程组件。
  .babelrc
  package-lock.json
  package.json
  src/common/channel.js
  src/common/connector.js
  src/common/constants.js
  src/common/hook.js
  src/common/injection.js
  src/common/render.js
  src/common/stream.js
  src/dom/eventProxy.js
  src/dom/fragment.js
  src/dom/index.js
  src/dom/microComponent.js
  src/vm/MicroComponents.js
  src/vm/diff.js
  src/vm/helpers.js
  src/vm/index.js
  src/vm/micro.js
  src/vm/node.js
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 更新版本至 0.2.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(dom): 修复自定义组件没设属性的bug
  src/dom/index.js
Due: prettier --write, eslint --fix

chore(release): 更新版本至 0.2.7
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix(microcomponent): 修复远程挂载的节点断开逻辑不执行的问题
  src/dom/index.js
  src/dom/microComponent.js
Due: prettier --write, eslint --fix

chore(release): 更新版本至 0.2.8
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: 修复卸载事件没调用的bug，修复 channel 不共享连接逻辑的bug
  src/common/connector.js
  src/dom/eventProxy.js
  src/vm/helpers.js
Due: prettier --write, eslint --fix

chore(release): 更新版本至 0.2.9
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: 修复 channel 没有 transfer 的能力
  src/common/channel.js
  src/common/connector.js
Due: prettier --write, eslint --fix

chore(release): 更新版本至 0.2.10
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Add license scan report and status
  README.md
Due: none

Path conditions:
  prettier --write: (any of: ./**/*.{html,json}) or (any of: ./**/*.{js,jsx})
  eslint --fix: any of: ./**/*.{js,jsx}
